[Unit]
Description=Kismet service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStartPre=sudo /etc/kismet/kis-src.sh
ExecStart=sudo kismet

[Install]
WantedBy=multi-user.target
