[Unit]
Description=Kismet-Remote Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=sudo /opt/pi-scripts/./kis-src.sh
ExecStart=sudo /opt/pi-scripts/./kismet-remote.sh

[Install]
WantedBy=multi-user.target
