[Unit]
Description=kisStatic2mobile Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=sudo /etc/kismet/./kis-src.sh
ExecStart=sudo python3 /opt/kisStatic2Mobile/kisstatic2mobile.py --send 172.16.1.8:3501

[Install]
WantedBy=multi-user.target
