[Unit]
Description=mavp2p Service
After=network.target kismet.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
#ExecStartPre=
ExecStart=./mavp2p serial:/dev/ttyACM0:57600 udps:0.0.0.0:5600

[Install]
WantedBy=multi-user.target
