[Unit]
Description=MAVProxy Service
After=network.target kismet.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=sudo /etc/kismet/kis-src.sh
ExecStart=sudo mavproxy.py --master=\dev\ttyUSB0,57600 --master=udpin:172.16.1.8:5600

[Install]
WantedBy=multi-user.target
